/* import google font from google */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Open+Sans:wght@800&family=Work+Sans:wght@500;600;700;800&display=swap');

* {
    margin: 0 auto;
}

body {
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
    ;
}

/* buttton style */
button {
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 600px;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 24px;
    padding: 20px 40px;
    border-radius: 48px;
    border: none;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
}

.btn-rogue {
    background: #4EC5F7;
}

/* nav section styles */
.nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}

.nav-title {
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 45px;
    font-weight: 700;
}

span {
    color: #ff24bd;
}

.nav img {
    width: 86px;
    height: 40px;
}

.nav>ul {
    display: flex;
    align-items: center;
}

.nav li {
    list-style: none;

}

.nav li a {
    text-decoration: none;
    margin-right: 30px;
    font-size: 1.1rem;
    font-weight: 500;
    color: #3C354F;

}

.follow-link {
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    padding: 10px;
}

/* main section styles */

/* container one style */
.container-one {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FFF;
}

.content-section-one {
    text-align: left;
    padding: 140px 220px 0px;
    background-image: url('../images/Group 14.png');
    background-size: 100%;
    fill: linear-gradient(223deg, rgba(140, 87, 238, 0.03) 0%, rgba(241, 68, 174, 0.03) 100%);
}

.section-title-one {
    color: #0B0223;
    font-size: 48px;
    font-weight: 600;
    text-transform: uppercase;
}

.text-design-one {
    font-size: 95px;
    font-weight: 800;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.photo-section img{
    width: 80%;
    margin-right: 0px;
}

.container-one ul {
    list-style: none;
    padding-left: 0;
}

.container-one li {
    color: #534C64;
    font-size: 20px;
    font-weight: 500px;
    margin-top: 15px;
}

/* container two styles */
.container-two {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
}

.photo-section-two img {
    width: 100%;
    padding-left: 240px;
}

.content-section-two{
    text-align: right;
    margin-top: 50px;
    padding-right: 240px;
    padding-bottom: 50px;
}

.text-design-two {
    font-size: 48px;
    font-weight: 700;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.content-section-two p{
    color: #534C64;
    font-size: 18px;
    margin-left: 250px;
}

strong {
    color: #534C64;
    font-size: 32px;
    font-weight: 700;
}

/* container three style*/
.container-three {
    margin-top: 120px;
}

.text-design-three{
    font-size: 48px;
    font-weight: 700;
    text-align: center;
}

.container-three p{
    color: #534C64;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    margin-top: 10px;
}

.video-item>ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 50px;
}

.video-item>ul li{
    list-style: none;
    text-align: bottom;
}

.video-item>ul>li p{
    text-align: left;
}

.video-item img {
    width: 340px;
    height: 400px;
}

.video-item, img:hover{
    opacity: 0.7;
    transition-duration: 2s;
}

.main-container-four {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 120px;
}

.image-section{
    margin-right: 250px;
}

.image-one{
    margin-left: 120px;
    width: 100%;
}

.image-two{
    position: relative;
    bottom: 200px;
}

.content-section3 {
    text-align: right;
    margin-right: 150px;
}

.content-section3 p{
    margin-left: 160px;
}
.text-design3 {
    font-size: 48px;
    font-weight: 700;
    text-align: right;
}

/* game link section style */
.game-link{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-left: 250px;
    margin-right: 250px;
    
}

.game img{
    width: 25%;
}

.game{
    display: flex;
    justify-content: space-around;
    align-items: center;
   
}

.game a{
    text-decoration: none;
    color: #3C354F;
}

.game a:hover{
    color: #F948B2;
}

.game:hover{
    border: 2px solid #F948B2;
    border-radius: 50px;
    color:#F948B2
}

/* footer section styles */
footer{
    background-color: #0B0223;
    color: #FFF;
    margin-top: 100px;
    padding-bottom: 50px;
}
footer .footer-title {
    display: flex;
    margin:10px 650px;
    text-align: center;
    align-items: center;
    font-size: 45px;
    font-weight: 700;
}

.footer-title img{
    width: 86px;
    height: 40px;
}
footer>ul{
    display: flex;
    justify-content: center;
    padding: 30px 400px;
}
footer li{
    list-style: none;
    font-size: 18px;
}

.social-media img{
    width: 20px;
    height: 20px;
}

.social-media{
    display: flex;
    justify-content: center;
    padding: 30px 500px;
}

.policy>li{
    color: rgba(255, 255, 255, 0.60);
   
}

@media screen and (max-width: 576px) {
    .nav,
    .container-one,
    .container-two{
        flex-direction: column;
    }
    .nav>ul{
        flex-direction: column;
        gap: 10px;
    }
    .content-section-one{
        margin: 0px;
        padding: 50px;
    }
    .photo-section img{
        width: 80%;
        margin-right: 0px;
        padding: 50px;
    }
    .container-two img {
        margin-left: 0px;
        padding-left: 5px;
        
    }
    .content-section-two{
        text-align: center;
        padding: 10px;
    }
    .content-section-two p{
        margin-left: 0px;
        padding: 5px;
    }
    strong{
        font-size: 25px;
    }
    .container-three{
        margin-top: 50px;
    }
}

